{% extends 'base.html' %}

{% block title %}Modify project{% endblock %}

{#{% block header_bg %}url({{ url_for('static', filename='project.jpg') }}){% endblock %}#}

{#{% block header_text %}Modify project{% endblock %}#}

{% block no_header %} <div class="fake-header"></div> {% endblock %}

{% block content %}

    <div class="pinned-toolbox">
        <a href="{{ url_for("project_page", project_id=project.project_id) }}" class="toolbox-item">
            <span class="toolbox-icon icon-back"></span>
        </a>

    </div>

    <form action="" class="form-group" method="post" novalidate>
        {{ form.hidden_tag() }}

        {{ form.title(size=100, placeholder="Title") }}
        {% for error in form.title.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="input-span-group">
            <span class="icon-image"></span>
        {{ form.background_image(placeholder="Background URL") }}
        </div>
        {% for error in form.background_image.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        {{ form.description(placeholder="Describe your project") }}
        {% for error in form.description.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        {{ form.submit() }}
    </form>

{#    <form action="{{ url_for("remove") }}"></form>#}

{% endblock %}