{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block header_bg %}url({{ url_for('static', filename='project.jpg') }}){% endblock %}

{% block header_text %}Some project{% endblock %}

{% block content %}

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi asperiores ea error facilis libero magnam maiores neque optio, perspiciatis placeat, quas rerum sint temporibus tenetur ut voluptas voluptatibus!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae consequuntur ea esse, et eum ex exercitationem explicabo id ipsa itaque maxime molestiae molestias nam natus officiis quo vitae.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consequatur dolorum magni molestiae perspiciatis quisquam sed suscipit? Aspernatur, nam, odio! Accusantium animi commodi consectetur doloribus magni nesciunt non quas vitae.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem minima, quis. Alias aperiam deleniti dolor doloremque eum ex harum illo in ipsum nesciunt nostrum, quas rem tempora totam velit voluptatum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, beatae doloribus fugiat harum inventore minima mollitia, obcaecati pariatur quasi quod vel, veniam. Accusantium deserunt laboriosam necessitatibus nemo quam sint unde.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquam architecto eos expedita fuga iure, laudantium nam nobis quae quas qui, quod repellat sed sint suscipit ut? Cupiditate, qui.


{% endblock %}