{% extends 'base.html' %}

{% block title %}Daniel{% endblock %}

{% block header_bg %}url({{ url_for('static', filename='me.PNG') }}){% endblock %}

{% block header_text %}Daniel{% endblock %}

{% block content %}
    <h2>who</h2>
    Student, engineer, minimalist, philanthropist... OK, I'm not an engineer. YET.
    <h2>what</h2>
    I'm working on developing modern solutions in different fields. At the last time I've been working on creating web-applications with <b>Python/Flask</b>. Some of my projects are presented and described on this website.
    <h2>where</h2>
    You can find them on the <a href="{{ url_for("projects_page") }}">projects page</a>.
    There are projects that I did while <b>studying</b> at Poznan University of Technology, my <b>private</b> projects and projects that I did during my <b>job</b> practice.
    <h2>howto</h2>
    If you want to <b>hire</b> me or have any propositions about one of the projects, that are placed on this page, you can do so on the <a href="{{ url_for("contact_page") }}">contact page</a>.
    <h2>p.s.</h2>
    This page is <b>under construction</b>, so you can find bugs, which you can report on the <a href="{{ url_for("contact_page") }}">contact page</a>.
{% endblock %}