{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block header_bg %}url({{ url_for('static', filename='contact.jpg') }}){% endblock %}

{% block header_text %}Contact me{% endblock %}

{% block content %}

    <h2>follow or contact me:</h2>

    <div class="contact-social-container">
        <a href="mailto:danik4tl@gmail.com" class="contact-social-item icon-email"></a>
        <a href="https://github.com/daniktl" class="contact-social-item icon-github"></a>
        <a href="https://t.me/daniktl" class="contact-social-item icon-telegram"></a>
        <a href="https://instagram.com/daniktl" class="contact-social-item icon-instagram"></a>
        <a href="https://www.linkedin.com/in/daniktl" class="contact-social-item icon-linkedin"></a>
        <a href="https://twitter.com/danktl" class="contact-social-item icon-twitter"></a>
    </div>



{% endblock %}