{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block header_bg %}url({{ url_for('static', filename='contact.jpg') }}){% endblock %}

{% block header_text %}Contact me{% endblock %}

{% block content %}

    <h2>find me</h2>

    <div class="contact-social-container">
        <a href="mailto:danik4tl@gmail.com" class="contact-social-item icon-email"></a>
        <a href="https://github.com/daniktl" class="contact-social-item icon-github"></a>
        <a href="https://t.me/daniktl" class="contact-social-item icon-telegram"></a>
        <a href="https://instagram.com/daniktl" class="contact-social-item icon-instagram"></a>
        <a href="https://www.linkedin.com/in/daniktl" class="contact-social-item icon-linkedin"></a>
        <a href="https://twitter.com/danktl" class="contact-social-item icon-twitter"></a>
    </div>


    <h2>or send a message</h2>



    <form action="" class="form-group" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="input-span-group">
            <span class="icon-letter"></span>
            {{ form.message_header(placeholder="Message title") }}
        </div>
        {% for error in form.message_header.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="input-span-group">
            <span></span>
            {{ form.message_body(placeholder="Type your message here...") }}
        </div>
        {% for error in form.message_body.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="input-span-group">
            <span class="icon-email"></span>
            {{ form.email(placeholder="Email to get response") }}
        </div>
        {% for error in form.email.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="input-span-group">
            <span class="icon-user"></span>
            {{ form.name(placeholder="Introduce yourself") }}
        </div>
        {% for error in form.name.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        {{ form.submit() }}
    </form>
{% endblock %}