<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedding invitation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='wedding.js') }}?v={{ media_version }}"
            type="application/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='wedding.css') }}?v={{ media_version }}" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<div class="h-wrapper">
    <div class="v-wrapper">
        <div class="invitation">
            <div class="header-image-wrapper">
                <img src="" alt="">
            </div>
            <h1>Приглашение на свадьбу</h1>

            <div class="invitation-body">
                Привет, {{ name }}!<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, est eum exercitationem expedita
                facere harum ipsam maiores obcaecati officiis perferendis possimus provident repellendus, sapiente
                similique suscipit vitae voluptate. Incidunt, odit.
            </div>
            <div class="invitation-footer">
                <div class="invitation-footer-item">
                    <div class="key">Дата</div>
                    <div class="value">03 апреля 2021</div>
                </div>
                <div class="invitation-footer-item">
                    <div class="key">Время</div>
                    <div class="value">15:00 (Варшава), 16:00 (Киев), 17:00 (Минск)</div>
                </div>

                <a href="#">Добавь напоминание в свой календарь</a>

            </div>
            <div class="invitation-link-wrapper">
                <a href="#" class="invitation-link">Подключиться к конференции</a>
            </div>
        </div>

    </div>
</div>


</body>
</html>