{% extends 'base.html' %}

{% block title %}Setup wedding{% endblock %}

{% block script_include %}
    <script src="{{ url_for('static', filename='wedding.js') }}?v={{ media_version }}"
            type="application/javascript"></script>
{% endblock %}

{% block no_header %}
    <div class="fake-header"></div> {% endblock %}

{% block content %}

    <div class="pinned-toolbox">
        <a href="{{ url_for("wedding_page") }}" class="toolbox-item">
            <span class="toolbox-icon icon-back"></span>
        </a>

    </div>

    <form action="" class="form-group" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="subsection-header">Date and time</div>
        {{ form.date(value=wedding_data.date) }}
        {% for error in form.date.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        {{ form.time(value=wedding_data.get_time_display()) }}
        {% for error in form.time.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="subsection-header">Remote access</div>

        <div class="input-span-group">
            <span class="icon-phone"></span>
            {{ form.remote_id }}
        </div>
        {% for error in form.remote_id.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="input-span-group">
            <span class="icon-private"></span>
            {{ form.remote_password }}
        </div>
        {% for error in form.remote_password.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="input-span-group">
            <span class="icon-web"></span>
            {{ form.remote_link }}
        </div>
        {% for error in form.remote_link.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="subsection-header">Invite message</div>

        {{ form.invite_message }}
        {% for error in form.invite_message.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        <div class="section-header">Invitations</div>


        {% for invitee in form.invitees %}
            <div class="inline-form">
                {{ invitee.invited }}
                {{ invitee.people }}
                <a href="javascript:void(0)" class="copy-button"
                   data-link="Ваше приглашение находится по следующей ссылке: {{ url_for("wedding_page", name=invitee.people.data, _external=True) }}"
                   data-welcome="Привет, {{ invitee.people.data }}!"
                >
                    <span class="material-icons">
                        content_copy
                    </span>
                </a>
                <a href="javascript:void(0)" class="remove-invite-button">
                    <span class="material-icons-outlined">
                        delete
                    </span>
                </a>
            </div>
        {% endfor %}

        <div class="subsection-header">Add new invitations</div>

        {{ form.invitees_new }}
        {% for error in form.invitees_new.errors %}
            <span class="form-error">{{ error }}</span>
        {% endfor %}

        {{ form.submit }}
    </form>

{% endblock %}

