<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedding invitation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='wedding.js') }}?v={{ media_version }}"
            type="application/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='wedding.css') }}?v={{ media_version }}" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale("ru") }}
</head>
<body>

<div class="h-wrapper">
    <div class="v-wrapper">
        <div class="invitation">
            <div class="header-image-wrapper">
                <img src="" alt="">
            </div>
            <h1>Даниил & Мария</h1>

            <div class="invitation-body">
                <p>Привет, {{ name }}!</p>
                <p>
                    В нашей жизни есть счастливые и светлые моменты, которые хочется разделить с дорогими людьми.
                    Поэтому приглашаем Вас открыть вместе с нами новую главу книги нашей жизни! Мы будем искренне рады
                    разделить этот день вместе с Вами.
                </p>
            </div>
            <div class="invitation-footer">
                Речь прозвучит:
                <div class="invitation-footer-item">
                    <div class="key">Дата</div>
                    <div class="value">{{ moment(wedding_data.get_datetime()).format("LL") }}</div>
                </div>
                <div class="invitation-footer-item">
                    <div class="key">Время</div>
                    <div class="value">
                        {{ wedding_data.get_time_display() }} (Варшава),<br>
                        {{ wedding_data.get_time_display(1) }} (Киев),<br>
                        {{ wedding_data.get_time_display(2) }} (Минск)
                    </div>
                </div>
                <div class="invitation-footer-item">
                    <div class="key">Где</div>
                    <div class="value">Zoom</div>
                </div>
                {% if wedding_data.is_today() %}
                    <div class="invitation-footer-item">
                        <div class="key">Номер конференции</div>
                        <div class="value">{{ wedding_data.remote_id }}</div>
                    </div>
                    <div class="invitation-footer-item">
                        <div class="key">Пароль конференции</div>
                        <div class="value">{{ wedding_data.remote_password }}</div>
                    </div>
                {% endif %}

                <p>
                    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Свадьба&dates={{ wedding_data.get_datetime().strftime("%Y%m%dT%H%M%S.%fZ") }}/{{ wedding_data.get_datetime_end().strftime("%Y%m%dT%H%M%S.%fZ") }}&details=&location=Zoom&trp=true">Добавь
                        напоминание в свой календарь</a>
                </p>

            </div>
            {% if wedding_data.is_today() %}
                <div class="invitation-link-wrapper">
                    <a href="{{ wedding_data.remote_link }}" class="invitation-link">Подключиться к конференции</a>
                </div>
            {% else %}
                P.S. В день свадьбы здесь появятся данные для подключения, поэтому сохраните пожалуйста ссылку :)
            {% endif %}

            <p>
                По всем вопросам обращайтесь к нам.
                Будем рады, если Вы подтвердите свое присутствие
                до {{ moment(wedding_data.get_datetime() - datetime.timedelta(days=7)).format("LL") }}.
            </p>

            <div class="invitation-gift">
                Сделать подарок:
                <div class="invitation-gift-wrapper">
                    <div class="invitation-gift-item">
                        <div class="key">USD</div>
                        <form action="https://www.paypal.com/donate" method="post" target="_top">
                            <input type="hidden" name="hosted_button_id" value="K3PSLV6BAUCAC"/>
                            <input type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif"
                                   border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                                   alt="Donate with PayPal button"/>
                            <img alt="" border="0" src="https://www.paypal.com/en_PL/i/scr/pixel.gif" width="1"
                                 height="1"/>
                        </form>

                    </div>

                    <div class="invitation-gift-item">
                        <div class="key">Другая валюта</div>
                        <div class="value">
                            <form action="https://www.paypal.com/donate" method="post" target="_top">
                                <input type="hidden" name="hosted_button_id" value="A2NNXYZCMT4F4"/>
                                <input type="image"
                                       src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif"
                                       border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                                       alt="Donate with PayPal button"/>
                                <img alt="" border="0" src="https://www.paypal.com/ru_RU/i/scr/pixel.gif" width="1"
                                     height="1"/>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


</body>
</html>