<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedding invitation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='wedding.js') }}?v={{ media_version }}"
            type="application/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='wedding.css') }}?v={{ media_version }}" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<div class="h-wrapper">
    <div class="v-wrapper">
        <div class="invitation">
            <div class="header-image-wrapper">
                <img src="" alt="">
            </div>
            <h1>Приглашение на свадьбу</h1>

            <div class="invitation-body">
                Привет, {{ name }}!<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, est eum exercitationem expedita
                facere harum ipsam maiores obcaecati officiis perferendis possimus provident repellendus, sapiente
                similique suscipit vitae voluptate. Incidunt, odit.
            </div>
            <div class="invitation-footer">
                <div class="invitation-footer-item">
                    <div class="key">Дата</div>
                    <div class="value">03 апреля 2021</div>
                </div>
                <div class="invitation-footer-item">
                    <div class="key">Время</div>
                    <div class="value">15:00 (Варшава), 16:00 (Киев), 17:00 (Минск)</div>
                </div>

                <a href="#">Добавь напоминание в свой календарь</a>

            </div>
            <div class="invitation-link-wrapper">
                <a href="#" class="invitation-link">Подключиться к конференции</a>
            </div>

            <div class="invitation-gift">
                Сделать подарок:
                <div class="invitation-gift-wrapper">
                    <div class="invitation-gift-item">
                        <div class="key">USD</div>
                        <form action="https://www.paypal.com/donate" method="post" target="_top">
                            <input type="hidden" name="hosted_button_id" value="K3PSLV6BAUCAC"/>
                            <input type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif"
                                   border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                                   alt="Donate with PayPal button"/>
                            <img alt="" border="0" src="https://www.paypal.com/en_PL/i/scr/pixel.gif" width="1"
                                 height="1"/>
                        </form>

                    </div>

                    <div class="invitation-gift-item">
                        <div class="key">Другая валюта</div>
                        <div class="value">
                            <form action="https://www.paypal.com/donate" method="post" target="_top">
                                <input type="hidden" name="hosted_button_id" value="A2NNXYZCMT4F4"/>
                                <input type="image"
                                       src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif"
                                       border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                                       alt="Donate with PayPal button"/>
                                <img alt="" border="0" src="https://www.paypal.com/ru_RU/i/scr/pixel.gif" width="1"
                                     height="1"/>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


</body>
</html>